.about_history{
    color: $color-dark_blue;

    padding: 100px 5% 60px 5%; //grid

    text-align: center;
    &-title{
        margin-bottom: 100px;

        font-family: $font-stack--bold;
        font-size: 32px;
        text-transform: uppercase;
        text-align: center;
    }
    &-history{
        z-index: 2;
        position: relative;
        perspective: 1000px;

        margin: 0 40px 40px 40px;

        display: inline-block;
        vertical-align: top;

        box-sizing: border-box;
        width: 300px;
        padding: 20px;
        background-color: $color-light_grey;
        border-radius: 5px;

        box-shadow: 0 0 40px rgba($color-dark_blue, 0.3);

        text-align: left;

        transition: 0.3s;

        &--active{
            transform: rotateX(-180deg);
        }

        &:hover{
            // transform: translate(0px, -20px);
            // box-shadow: 0px 20px 40px rgba($color-dark_blue, 0.3);
            .border{
                line{
                    stroke-width: 10;
                    &:nth-child(1){
                        transform: translateX(0%);
                    }
                    &:nth-child(2){
                        transform: translateY(0%);
                    }
                    &:nth-child(3){
                        transform: translateX(0%);
                    }
                    &:nth-child(4){
                        transform: translateY(0%);
                    }
                }
            }
        }
    }
    .border{
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        line {
            stroke: $color-dark_blue;
            stroke-width: 0;

            transition: 0.5s;

            &:nth-child(1){
                transform: translateX(-100%);
            }
            &:nth-child(2){
                transform: translateY(-100%);
            }
            &:nth-child(3){
                transform: translateX(100%);
            }
            &:nth-child(4){
                transform: translateY(100%);
            }
        }
    }

    &-img{
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translateZ(-3px); //rotateX(180deg);

        width: 100%;
        height: 100%;

        background-color: red;
    }
    &-year{
        margin-bottom: 20px;

        font-family: $font-stack--bold;
        font-size: 20px;

    }
    &-description{

    }

    
}