<div class="header header--light">
	<button class="header-hamburger" (click)="smartNavigation.classList.add('navigation--open')">
		<div class="btn btn--hamburger">
			<span class="btn-icon fa fa-navicon"></span>
		</div>
	</button>
	<div class="header-main">
		<div class="header-logo">
			<div class="logo">
				<h2 class="logo-name">
					Portland
				</h2>
			</div>
		</div><!--
		--><div class="header-navigation">
			<div class="navigation">
				<a class="navigation-list">home</a>
				<a routerLink="products" routerLinkActive="active" class="navigation-list">products</a>
				<a class="navigation-list">delivery & payment</a>
				<a routerLink="contacts" routerLinkActive="active" class="navigation-list">contacts</a>
				<a class="navigation-list">about us</a>
			</div>
		</div><!--
		--><div class="header-btn">
			<button class="btn btn--sign_in">sign in</button>
		</div>
	</div>
	<div class="header-actions">
		<div class="header-search">
			<div class="search">
				<button class="search-btn">
					<div class="btn btn--search">
						<span class="btn-icon fa fa-search"></span>
					</div>
				</button><!--
				--><input class="search-input" type="text" placeholder="I'm shopping for..">
			</div>
		</div>
		<div class="header-user">
			<div class="user">
				<div class="user-wishlist">
					<div class="user_wishlist user_wishlist--smart">
						<button class="user_wishlist-btn" (click)="onWishlistBtnToggle()">
							<div class="btn btn--user_wishlist">
								<div class="btn-icon fa fa-heart"></div>
								4 items
							</div>
						</button>
						<div class="user_wishlist-item_list">
							<div class="user_wishlist-item" *ngFor="let item of wishlistItems" (click)="onItemClicked(item)">
								<div class="item item--small">
									<div class="item-photos">
										<img class="item-photo" src="{{item.photosUrl[0]}}" alt="">
									</div><!--
									--><div class="item-info">
										<h2 class="item-name">{{item.name}}</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--
				<--><div class="user-cart">
					<div class="user_cart user_cart--smart">
						<button class="user_cart-btn" (click)="onCartBtnToggle()">
							<div class="btn btn--user_cart">
								<div class="btn-icon fa fa-shopping-cart"></div>
								3 items
							</div>
						</button>
						<div class="user_cart-item_list">
							<div class="user_cart-item" *ngFor="let item of cartItems" (click)="onItemClicked(item)">
								<div class="item item--small">
									<div class="item-photos">
										<img class="item-photo" src="{{item.photosUrl[0]}}" alt="">
									</div><!--
									--><div class="item-info">
										<h2 class="item-name">{{item.name}}</h2>
										<h4 class="item-cost">$45</h4>
										<div class="item-count">
											1 items in cart
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-smart_navigation">
		<div class="navigation navigation--smart" #smartNavigation>
			<button class="navigation-btn navigation-btn--close" (click)="smartNavigation.classList.remove('navigation--open')">
				<span class="fa fa-close"></span>
			</button>
			<a class="navigation-list">home</a>
			<a routerLink="products" routerLinkActive="active" class="navigation-list">products</a>
			<a routerLink="users/12552" routerLinkActive="active" class="navigation-list">My account</a>	
			<a class="navigation-list">Our Team</a>
			<div class="navigation-navigation">
				<div class="navigation">		
					<a routerLink="contacts" routerLinkActive="active" class="navigation-list">contacts</a>
					<a class="navigation-list">delivery & payment</a>
					<a class="navigation-list">About us</a>
				</div>
			</div>
			<div class="navigation-btn_list">
				<a class="navigation-btn">
					<span class="fa fa-twitter"></span>
				</a>
				<a class="navigation-btn">
					<span class="fa fa-facebook"></span>
				</a>
				<a class="navigation-btn">
					<span class="fa fa-google-plus"></span>
				</a>
			</div>
		</div>
	</div>
</div>

