@import "../src.scss";
.contacts{
    min-height: 500px;
    padding-top: 100px;
    background-color: #FFF;

    color: $color-dark_blue;
    text-align: center;

    &--title{
        font-size: 24px;
        text-transform: uppercase;
    }

    &--info{
        margin: 100px 0;
    }
    &--contact-info{
        margin: 0 20px 40px 20px;

        display: inline-block;
        vertical-align: top;

        width: 300px;
    }

    &--contact-form{
        margin: 0 auto;
        margin-bottom: 100px;
        
        max-width: 550px;
    }
}