.user_sign_up {
    display: inline-block;

    box-sizing: border-box;
    width: 600px;
    padding: 0 70px;
    border-radius: 5px;
    background-color: #FFF;

    color: $color-dark_blue;
    text-align: center;

    box-shadow: 0 0 40px rgba($color-dark_blue, 0.4);

    overflow: hidden;

    &-title{
        margin-top: 50px;
        margin-bottom: 50px;

        font-family: $font-stack--magic_number;
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
    }


    &-password_container{
        margin-bottom: 30px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .user_sign_up-data_input{
            margin: 0;
            width: 200px;
        }
    }
    &-data_input{
        position: relative;
        margin-bottom: 30px;

        color: rgba($color-dark_blue, 0.7);
    }
    &-data_input_icon{
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translate(-50%, -50%);

        vertical-align: top;
    }
    &-mail, &-password {
        box-sizing: border-box;
        width: 100%;  
        height: 40px;
        padding: 0px 5px 0px 40px;

        background-color: $color-light_grey;
        border: 1px solid rgba($color-dark_grey, 0.6);
        border-radius: 20px;
        outline: none;

        line-height: 40px;
        font-family: $font-stack--magic_number;
        color: rgba($color-dark_blue, 0.7);
        font-size: 16px;

        transition: 0.3s;
        &:not(:last-child){
            margin-bottom: 20px;
        }
        &:focus{
            background-color: #FFF;
            border-color: #FFF;
            box-shadow: 0px 10px 20px rgba($color-dark_blue, 0.2)
        }
        &.ng-invalid.ng-dirty{
            border-color: $color-dark_red;
        }
    }

    &-description {
        margin-bottom: 40px;

        display: inline-block;
        padding: 0 70px;

        line-height: 1.5em;
        color: rgba($color-dark_blue, 0.8);

        button{
            background: none;
            outline: none;
            
            color: inherit;
            font: inherit;
            font-weight: bold;
            text-decoration: underline;

            transition: 0.3s;
            cursor: pointer;
            &:focus,
            &:hover{
                color: $color-blue;
            }
        }
    }

    &-devider{
        position: relative;
        margin: 30px 0px;
        
        color: rgba($color-dark_grey, 0.8);
        font-size: 14px;

        &:before, &:after{
            content: '';

            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            display: inline-block;
            width: 40%;
            height: 1px;
            background-color: rgba($color-dark_grey, 0.8);
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
    

    &-btn{
        display: inline-block;
        vertical-align: top;

        width: 200px;
        height: 40px;
        background-color: rgba($color-dark_grey, 0.8);
        border-radius: 20px;
        outline: none;

        line-height: 40px;
        color: #FFF;
        font-family: $font-stack--magic_number;
        font-size: 14px;
        text-transform: uppercase;

        cursor: pointer;
        transition: 0.3s;

        &:hover{
            background-color: $color-dark_grey;
        }

        &--submit {
            width: 100%;
            background-color: $color-blue;

            &:hover{
                background-color: $color-blue;
            }
            &:focus{
                box-shadow: 0px 10px 20px rgba($color-dark_blue, 0.2);
            }
        }
        &--sign_in{
            margin-bottom: 30px;
            background-color: $color-blue;

            color: #FFF;

            &:hover{
                background-color: $color-blue;
            }
            &:focus{
                box-shadow: 0px 10px 20px rgba($color-dark_blue, 0.4);
            }
        }
        &--disabled {
            background-color: $color-dark_red;
            &:hover{
                background-color: $color-dark_red;
            }
        }
    }
    &-social{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
        padding: 10px 0 30px 0;
    }
    &-twitter_login,
    &-facebook_login{
        .btn{
            &:focus{
                box-shadow: 0px 10px 20px rgba($color-dark_blue, 0.4);
            }
        }
    }
}