<div class="home">
	<div class="home-parallax"></div>
	<div class="home-header">
		<header></header>
	</div>
	<div class="home-home_intro">
		<div class="home_intro">
			<h3 class="home_intro-welcome">welcome to portland</h3>
			<h3 class="home_intro-title">
				Shopping with pleasure
			</h3>
			<p class="home_intro-description">
				Lorem amet, consectetur adipisicing elit. Sed repellendus, provident. Hic dolor et inventore doloribus blanditiis quaerat eos dolore?
			</p>
			<div class="home_intro-btn">
				<button routerLink="/products" class="btn btn--white">Let's shopping</button>
			</div>
			<div class="home_intro-btn">
				<button class="btn btn--white">learn more</button>
			</div>
		</div>
	</div>
	<div class="home-news">
		Some news here ->
	</div>
	<div class="home-shopping_road">
		<shopping-road></shopping-road>
		<div class="home-btn">
			<div class="btn btn--white">Hire us</div>
		</div>
	</div>
	<div class="home-footer">
		<footer></footer>
	</div>
</div>