.user_info{
    
    padding: 50px;

    &-name{
        margin-bottom: 25px;
    }
    &-mail{
        margin-bottom: 50px;
    }


    &-preset_list{
        margin-top: 100px;
    }

    &-credit_card{
        margin-top: 100px;
    }
}