<div class="page_not_found">
    <!--<div class="page_not_found-logo">
        <div class="logo">
            <div class="logo-name">Portland</div>
        </div>
    </div>-->
    <div class="page_not_found-info">
        <div class="page_not_found-title">404</div>
        <h1 class="page_not_found-description">
            Error. Page not found...
        </h1>
        <div class="page_not_found-btn">
            <button routerLink="/home" class="btn btn--dark_green">Go to home</button>
        </div>
    </div>
    <!--<div class="page_not_found-footer">
        <div class="page_not_found-date">since 2016</div>
        <div class="page_not_found-social">
            <span class="page_not_found-social_btn fa fa-twitter"></span>
            <span class="page_not_found-social_btn fa fa-facebook"></span>
            <span class="page_not_found-social_btn fa fa-google-plus"></span>
        </div>
    </div>-->
</div>