<div class="user_cart" [ngClass]="{'user_wishlist--empty': itemList.length == 0}">
	<h4 routerLink="/products" class="user_cart-helper" *ngIf="isItemListReady && itemList.length == 0">
		There is no products in your cart. Let's shopping now!
	</h4>
	<div class="user_cart-user_cart_road" *ngIf="isItemListReady && itemList.length > 0">
		<div class="user_cart_road">
			<button 
				class="user_cart_road-btn" 
				[ngClass]="{
					'user_cart_road-btn--during': activeStep === UserCartSteps.ORDER,
					'user_cart_road-btn--completed': activeStep >= UserCartSteps.CHECKOUT
				}" 
				(click)="goToStep(UserCartSteps.ORDER)"
				[disabled]="orderStatus === true">
				<div class="btn btn--order_road">order</div>
			</button>
			<button
				class="user_cart_road-btn" 
				[ngClass]="{
					'user_cart_road-btn--during': activeStep === UserCartSteps.CHECKOUT,
					'user_cart_road-btn--completed': activeStep >= UserCartSteps.DELIVERY
				}" 
				(click)="goToStep(UserCartSteps.CHECKOUT)"
				[disabled]="activeStep < UserCartSteps.ORDER || orderStatus === true">
				<div class="btn btn--order_road">checkout</div>
			</button>
			<button 
				class="user_cart_road-btn"
				[ngClass]="{
					'user_cart_road-btn--during': activeStep === UserCartSteps.DELIVERY,
					'user_cart_road-btn--completed': activeStep >= UserCartSteps.PAYMENT
				}" 
				(click)="goToStep(UserCartSteps.DELIVERY)"
				[disabled]="activeStep < UserCartSteps.CHECKOUT || orderStatus === true">
				<div class="btn btn--order_road">delivery</div>
			</button>
			<button 
				class="user_cart_road-btn"
				[ngClass]="{
					'user_cart_road-btn--during': activeStep === UserCartSteps.PAYMENT,
					'user_cart_road-btn--completed': orderStatus === true
				}" 
				(click)="goToStep(UserCartSteps.PAYMENT)"
				[disabled]="activeStep < UserCartSteps.DELIVERY || orderStatus === true">
				<div class="btn btn--order_road">payment</div>
			</button>
		</div>
	</div>
	<div class="user_cart-step">
		<user-cart-order 
			*ngIf="activeStep === UserCartSteps.ORDER"
			[itemList]="itemList"
			[isItemListReady]="isItemListReady"
			(onProceedToCheckout)="goToStep(UserCartSteps.CHECKOUT)">
		</user-cart-order>
		<user-cart-checkout 
			*ngIf="activeStep === UserCartSteps.CHECKOUT"
			[itemList]="itemList"
			(onProceedToDelivery)="goToStep(UserCartSteps.DELIVERY)"
			(onBackToOrder)="goToStep(UserCartSteps.ORDER)">
		</user-cart-checkout>
		<user-cart-delivery 
			*ngIf="activeStep === UserCartSteps.DELIVERY"
			(onProceedToDone)="goToStep(UserCartSteps.PAYMENT)"
			(onBackToCheckout)="goToStep(UserCartSteps.CHECKOUT)">
		</user-cart-delivery>
		<user-cart-payment 
			[orderStatus]="orderStatus"
			(onDone)="createOrder()"
			(onBackToDelivery)="goToStep(UserCartSteps.DELIVERY)"
			*ngIf="activeStep === UserCartSteps.PAYMENT">
			payment
		</user-cart-payment>
	</div>
</div>