@import '../src.scss';
.user_cart{
    position: relative;
    height: 100vh;

    &-loading{
        position: relative;
        height: 100%;
    }
    &-item{
        margin: 0 50px;
        
        &:not(:last-child){
            border-bottom: 1px solid $color-light_grey;
        }
    }
    &-user_order_road{
        padding: 50px 0;
    }
    &-user_cart_header{
        padding: 0 50px;
    }
    &-item_list{
        width: 100%;
    }

    &-helper{
        padding: 50px; 
        outline: none;

        text-align: center;

        cursor: pointer;
        transition: 0.3s;

        &:hover{
            color: $color-dark_green;
        }
    }

    &-actions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin: 0 50px;

        padding: 50px 0;
        border-top: 1px solid $color-light_grey;
    }
    &-btn{

    }

    &--empty{
        .user_wishlist-item_list{
            display: none;
        }
    }

    &--smart{
        position: relative;
        .user_cart-btn{
            display: block;
            
            width: 100%;
            background-color: inherit;
            outline: none;
        }
        .user_cart-item_list{
            z-index: 3;
            position: absolute;
            bottom: -20px;
            right: 0%;
            transform: translate(0%, 100%);

            max-height: 150px * 2; // item height = 150px
            min-width: 150%;
            background-color: #FFF;
            border-radius: 5px;

            overflow: hidden;
            box-shadow: 0 0 40px rgba($color-dark_blue, 0.4);

            display: none;
            opacity: 0;
            transition: opacity 0.3s;

            @include ps-const-width();
            .ps-scrollbar-y-rail{
                margin: 10px 0;
                right: 10px;
            }
        }
        .user_cart-item{
            margin: 0;
            box-sizing: border-box;
            height: 150px;

            cursor: pointer;
            transition: 0.3s;

            &:hover{
                background-color: $color-light_grey;
            }
            &:not(:last-child){
                border-bottom: 1px solid $color-light_grey;
            }

            .item{
                box-sizing: border-box;
                padding: 0;
                margin: 0;
                background: none;
            }
        }
    }
    &--open{
        .user_cart-item_list{
            opacity: 1;
            display: block;
        }
        .user_cart-btn{
            .btn{
                background-color: $color-light_grey;
                color: $color-dark_green;
            }
        }
    }
}