<div class="shop_product_features-item_list">
	<div class="shop_product_features-item_card">
		<div class="item_card">
			<div class="item_card-img">
				<img class="img" src="assets/items/item5.png" alt="">
			</div>
			<div class="item_card-info">
				<a class="item_card-name">
					Leather T-Shirt
				</a>
				<div class="item_card-color_list">
					<div class="color-list">
						<div class="color-list--color">
							<div class="color red small" title="red"></div>
						</div>
						<div class="color-list--color">
							<div class="color white small" title="white"></div>
						</div>
						<div class="color-list--color">
							<div class="color white small" title="white"></div>
						</div>
					</div>
				</div><!--
				--><h4 class="item_card-cost">$54</h4>
			</div>
		</div>
	</div>
	<div class="shop_product_features-item_card">
		<div class="item_card">
			<div class="item_card-new">new</div>
			<div class="item_card-img">
				<img class="img" src="assets/items/item3.png" alt="">
			</div>
			<div class="item_card-info">
				<a class="item_card-name">
					Cotton T-Shirt
				</a>
				<div class="item_card-color_list">
					<div class="color-list">
						<div class="color-list--color">
							<div class="color red small" title="red"></div>
						</div>
						<div class="color-list--color">
							<div class="color white small" title="white"></div>
						</div>
						<div class="color-list--color">
							<div class="color white small" title="white"></div>
						</div>
					</div>
				</div><!--
				--><h4 class="item_card-cost">$54</h4>
			</div>
		</div>
	</div>
	<div class="shop_product_features-item_card">
		<div class="item_card">
			<div class="item_card-img">
				<img class="img" src="assets/items/item2.png" alt="">
			</div>
			<div class="item_card-info">
				<a class="item_card-name">
					Awesome T-Shirt
				</a>
				<div class="item_card-color_list">
					<div class="color-list">
						<div class="color-list--color">
							<div class="color red small" title="red"></div>
						</div>
						<div class="color-list--color">
							<div class="color white small" title="white"></div>
						</div>
						<div class="color-list--color">
							<div class="color white small" title="white"></div>
						</div>
					</div>
				</div><!--
				--><h4 class="item_card-cost">$54</h4>
			</div>
		</div>
	</div>
</div><!--
--><div class="shop_product_features-features">
	<h2 class="shop_product_features-title">
		Product Features
	</h2>
	<p class="shop_product_features-description">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo rem sapiente aspernatur, nulla sed, iure eos. Harum atque vel impedit est laboriosam ipsam repellat totam!
	</p>
	<div class="shop_product_features-feature">
		<span class="shop_product_features-feature_icon fa fa-gear"></span>
		Articles
	</div>
	<div class="shop_product_features-feature">
		<span class="shop_product_features-feature_icon fa fa-gear"></span>
		Colors
	</div>
	<div class="shop_product_features-feature">
		<span class="shop_product_features-feature_icon fa fa-gear"></span>
		Sizes
	</div>
	<div class="shop_product_features-feature">
		<span class="shop_product_features-feature_icon fa fa-gear"></span>
		Photos
	</div>
	<div class="shop_product_features-feature">
		<span class="shop_product_features-feature_icon fa fa-gear"></span>
		Detailed Description
	</div>
	<div class="shop_product_features-feature">
		<span class="shop_product_features-feature_icon fa fa-gear"></span>
		Composition
	</div>
	<div class="shop_product_features-feature">
		<span class="shop_product_features-feature_icon fa fa-gear"></span>
		Delivery
	</div>
	<div class="shop_product_features-feature">
		<span class="shop_product_features-feature_icon fa fa-gear"></span>
		Nice cost
	</div>
	<div class="shop_product_features-feature">
		<span class="shop_product_features-feature_icon fa fa-gear"></span>
		And other detatils
	</div>
	<div class="shop_product_features-btn">
		<button class="btn btn--dark_red">View random item</button>
	</div>
</div><!--
--><div class="shop_product_features-item_review">
	<div class="item_card">
		<div class="item_card-new">new</div>
		<div class="item_card-img">
			<img class="img" src="assets/items/item3.png" alt="">
		</div>
		<div class="item_card-info">
			<a class="item_card-name">
				Cotton T-Shirt
			</a>
			<div class="item_card-color_list">
				<div class="color-list">
					<div class="color-list--color">
						<div class="color red small" title="red"></div>
					</div>
					<div class="color-list--color">
						<div class="color white small" title="white"></div>
					</div>
					<div class="color-list--color">
						<div class="color white small" title="white"></div>
					</div>
				</div>
			</div><!--
			--><h4 class="item_card-cost">$54</h4>
		</div>
	</div>
</div>