<h2 class="shop_features-description">
	features
</h2>
<h2 class="shop_features-title">
	The reasons to choose us
</h2>
<div class="shop_features-statistic_list">
	<div class="shop_features-statistic">
		<h3 class="shop_features-value">
			{{featureNumbers[0]}}k
		</h3>
		<div class="shop_features-devider"></div>
		<h4 class="shop_features-statistic_description">
			products in shop
		</h4>
	</div><!--
	--><div class="shop_features-statistic">
		<h3 class="shop_features-value">
			{{featureNumbers[1]}}
		</h3>
		<div class="shop_features-devider"></div>
		<h4 class="shop_features-statistic_description">
			Cloth Categories
		</h4>
	</div><!--
	--><div class="shop_features-statistic">
		<h3 class="shop_features-value">
			{{featureNumbers[2]}}
		</h3>
		<div class="shop_features-devider"></div>
		<h4 class="shop_features-statistic_description">
			Award Winners
		</h4>
	</div><!--
	--><div class="shop_features-statistic">
		<h3 class="shop_features-value">
			{{featureNumbers[3]}}x
		</h3>
		<div class="shop_features-devider"></div>
		<h4 class="shop_features-statistic_description">
			Easy Shopping
		</h4>
	</div><!--
	-->
</div>
<div class="shop_features-feature_list">
	<h2 class="shop_features-title">
		We create you personal style
	</h2>
	<div class="shop_features-shop_feature">
		<div class="shop_feature">
			<span class="shop_feature-icon fa fa-hourglass"></span>
			<h3 class="shop_feature-name">Save you time</h3>
			<p class="shop_feature-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, aspernatur?
			</p>
		</div>
	</div><!--
	--><div class="shop_features-shop_feature">
		<div class="shop_feature">
			<span class="shop_feature-icon fa fa-photo"></span>
			<h3 class="shop_feature-name">Full detailed products</h3>
			<p class="shop_feature-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, aspernatur?
			</p>
		</div>
	</div><!--
	--><div class="shop_features-shop_feature">
		<div class="shop_feature">
			<span class="shop_feature-icon fa fa-search"></span>
			<h3 class="shop_feature-name">Convenient search</h3>
			<p class="shop_feature-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, aspernatur?
			</p>
		</div>
	</div><!--
	--><div class="shop_features-shop_feature">
		<div class="shop_feature">
			<span class="shop_feature-icon fa fa-truck"></span>
			<h3 class="shop_feature-name">Free shipping</h3>
			<p class="shop_feature-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, aspernatur?
			</p>
		</div>
	</div><!--
	--><div class="shop_features-shop_feature">
		<div class="shop_feature">
			<span class="shop_feature-icon fa fa-headphones"></span>
			<h3 class="shop_feature-name">Fast support</h3>
			<p class="shop_feature-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, aspernatur?
			</p>
		</div>
	</div><!--
	--><div class="shop_features-shop_feature">
		<div class="shop_feature">
			<span class="shop_feature-icon fa fa-credit-card"></span>
			<h3 class="shop_feature-name">
				Reliable payment
			</h3>
			<p class="shop_feature-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, aspernatur?
			</p>
		</div>
	</div>
</div>