.shop_partners{
    display: block;
    padding: 100px 0 60px 0;

    text-align: center;

    &-partner{
        position: relative;
        margin: 0 50px;
        margin-bottom: 40px;

        display: inline-block;
        vertical-align: middle;

        width: 120px;
        height: 100px;

        &:after{
            content: '';
            position: absolute;
            bottom: -0px;
            left: 50%;
            transform: translate(-50%, 100%);

            display: inline-block;
            width: 0%;
            height: 2px;
            background-color: $color-dark_red;
            border-radius: 1px;

            transition: 0.3s;
        }
        &:hover{
            &:after{
                animation: anim-line 0.3s ease-out forwards;
            }
        }
        @keyframes anim-line{
            0% {
                width: 0;
            }
            100% {
                width: 100%;
            }
        }
    }
    &-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        max-width: 80%;
        max-height: 80%;
    }
}