@import '../src.scss';
.contact_map{
    position: relative;
    &-map{
        display: block;
        height: 400px;
    }
    &-info{
        font-family: $font-stack--bold;
        text-align: left; 
    }
}

.gm-style-cc, .gm-svpc, .gmnoprint, a img[draggable=false],
.gmnoprint{
    display: none !important;
}