<a href="http://google.com" class="shop_partners-partner" target="_blank">
	<img class="shop_partners-icon" src="assets/partners/partner1.png" alt="">
</a>
<a href="http://google.com" class="shop_partners-partner" target="_blank">
	<img class="shop_partners-icon" src="assets/partners/partner2.png" alt="">
</a>
<a href="http://google.com" class="shop_partners-partner" target="_blank">
	<img class="shop_partners-icon" src="assets/partners/partner3.png" alt="">
</a>
<a href="http://google.com" class="shop_partners-partner" target="_blank">
	<img class="shop_partners-icon" src="assets/partners/partner5.png" alt="">
</a>
<a href="http://google.com" class="shop_partners-partner" target="_blank">
	<img class="shop_partners-icon" src="assets/partners/partner4.png" alt="">
</a>