@import '../src.scss';
.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    color: $color-dark_grey;
    font-size: 14px;

    &--title{
        max-width: 500px;

        line-height: 22px;
    }
    &--navigation{
    }

    @media screen and (max-width: 1100px){
        &--title,
        &--navigation{
            width: 100%;
            text-align: center;
        }
        &--title{
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}