.user_cart_checkout{

    &-info{
        padding: 0 50px;
    }

    &-actions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin: 0 50px;

        padding: 50px 0;
        //border-top: 1px solid $color-light_grey;
    }
}