@import '../src.scss';
.navigation{

    &-list{
        display: inline-block;

        color: inherit;
        font-family: $font-navigation;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;

        cursor: pointer;
        transition: 0.3s;

        &:not(:last-child){
            margin-right: 20px;
        }
        &:hover{
            color: $color-dark_green;
        }
        &.active{
            color: $color-dark_green;
        }
    }

    @media screen and (max-width: 500px){
        &-list{
            width: 100%;
            &:not(:last-child){
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
}