<div class="user-statistic">
	<div class="user-statistic--header">
		<div class="user-statistic--user-statistic-card">
			<div class="user-statistic-card">
				<div class="user-statistic-card--header">
					<div class="user-statistic-card--title">You spent</div>
					<div class="user-statistic-card--icon fa fa-credit-card"></div>
				</div>
				<div class="user-statistic-card--value">{{15054.56 | currency:'USD':true}}</div>
			</div>
		</div>
		<div class="user-statistic--user-statistic-card">
			<div class="user-statistic-card">
				<div class="user-statistic-card--header">
					<div class="user-statistic-card--title">You ordered</div>
					<div class="user-statistic-card--icon fa fa-shopping-cart"></div>
				</div>
				<div class="user-statistic-card--value">452</div>
			</div>
		</div>
		<div class="user-statistic--user-statistic-card">
			<div class="user-statistic-card">
				<div class="user-statistic-card--header">
					<div class="user-statistic-card--title">You liked</div>
					<div class="user-statistic-card--icon fa fa-heart"></div>
				</div>
				<div class="user-statistic-card--value">12467</div>
			</div>
		</div>
		<div class="user-statistic--user-statistic-card">
			<div class="user-statistic-card">
				<div class="user-statistic-card--header">
					<div class="user-statistic-card--title">Total comments</div>
					<div class="user-statistic-card--icon fa fa-comment"></div>
				</div>
				<div class="user-statistic-card--value">1067</div>
			</div>
		</div>
	</div>
	<div class="user-statistic--user-orders">
		<user-orders></user-orders>
	</div>
	<div class="user-statistic--user-likes">
		<user-likes></user-likes>
	</div>
	<div class="user-statistic--user-category-likes">
		<user-category-likes></user-category-likes>
	</div>
</div>