:host{
    display: block;
}
.user_statistic{
    padding: 50px 5%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;


    &-header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &-total_cash{
        margin-bottom: 100px;

        box-sizing: border-box;
        width: 300px;
        padding: 20px;
        background-color: #FFF;
        border-radius: 5px;

        box-shadow: 0 0 20px rgba($color-dark_blue, 0.2);
    }
    &-total_cash_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;
    }
    &-total_cash_title{
        font-size: 18px;
        font-family: $font-stack--bold;
        text-transform: uppercase;
    }
    &-total_cash_icon{
        margin-left: 20px;
        font-size: 20px;
    }
    &-total_cash_value{
        font-family: $font-stack--magic_number;
        font-size: 36px;
        text-transform: uppercase;

        @include no-wrap;
    }

    &-total_orders{
        margin-bottom: 100px;

        box-sizing: border-box;
        width: 300px;
        padding: 20px;
        background-color: #FFF;
        border-radius: 5px;

        box-shadow: 0 0 20px rgba($color-dark_blue, 0.2);
    }
    &-total_orders_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;
    }
    &-total_orders_title{
        font-size: 18px;
        font-family: $font-stack--bold;
        text-transform: uppercase;
    }
    &-total_orders_icon{
        margin-left: 20px;
        font-size: 20px;
    }
    &-total_orders_value{
        font-family: $font-stack--magic_number;
        font-size: 36px;
        text-transform: uppercase;

        @include no-wrap;
    }

    &-total_likes{
        margin-bottom: 100px;

        box-sizing: border-box;
        width: 300px;
        padding: 20px;
        background-color: #FFF;
        border-radius: 5px;

        box-shadow: 0 0 20px rgba($color-dark_blue, 0.2);
    }
    &-total_likes_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;
    }
    &-total_likes_title{
        font-size: 18px;
        font-family: $font-stack--bold;
        text-transform: uppercase;
    }
    &-total_likes_icon{
        margin-left: 20px;
        font-size: 20px;
    }
    &-total_likes_value{
        font-family: $font-stack--magic_number;
        font-size: 36px;
        text-transform: uppercase;

        @include no-wrap;
    }

    &-statistic{
        display: inline-block;

        box-sizing: border-box;
        width: 400px;
        height: 400px;
        padding: 20px;

        background-color: #FFF;
        border-radius: 5px;

        box-shadow: 0 0 20px rgba($color-dark_blue, 0.2);

    }
    &-orders{
        margin-bottom: 100px;

        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        
        background-color: #FFF;
        border-radius: 5px;

        box-shadow: 0 0 20px rgba($color-dark_blue, 0.2);
    }
    &-likes{
        margin-bottom: 100px;
        margin-right: 5%;
        
        box-sizing: border-box;
        width: 55%;
        padding: 20px;
        
        background-color: #FFF;
        border-radius: 5px;

        box-shadow: 0 0 20px rgba($color-dark_blue, 0.2);
    }
    &-category_likes{
        margin-bottom: 100px;
        margin-left: 5%;

        box-sizing: border-box;
        width: 35%;
        padding: 20px;
        
        background-color: #FFF;
        border-radius: 5px;

        box-shadow: 0 0 20px rgba($color-dark_blue, 0.2);
    }
    &-cash{
        margin-bottom: 100px;

        box-sizing: border-box;
        width: 50%;
        padding: 20px;
    }

    &-title{
        margin-bottom: 30px;

        color: $color-dark_blue;
        font-family: $font-stack--bold;
        font-size: 18px;
        text-transform: uppercase;
    }
    &-chart{
        display: block;
        width: 100%;
    }
    &-description{
        margin-top: 20px;

        color: $color-dark_grey;
        font-family: $font-stack--bold;
        font-size: 14px;
        text-transform: uppercase;

        span{
            color: $color-dark_blue;
        }
    }
}