<header></header>
<div class="contacts">
	<h3 class="contacts-title">Contact us</h3>
	<div class="contacts-info">
		<div class="contacts-contact_info">
			<div class="contact_info">
				<div class="contact_info">
					<div class="contact_info-icon">
						<span class="fa fa-envelope-o"></span>
					</div>
					<h4 class="contact_info-title">Email</h4>
					<a class="contact_info-contact">
						portland@gmail.com
					</a>
				</div>
			</div>
		</div><!--
		--><div class="contacts-contact_info">
			<div class="contact_info">
				<div class="contact_info">
					<div class="contact_info-icon">
						<span class="fa fa-map-marker"></span>
					</div>
					<h4 class="contact_info-title">Adress</h4>
					<a class="contact_info-contact">
						23 Bedford Avenue, Portland
					</a>
				</div>
			</div>
		</div><!--
		--><div class="contacts-contact_info">
			<div class="contact_info">
				<div class="contact_info">
					<div class="contact_info-icon">
						<span class="fa fa-headphones"></span>
					</div>
					<h4 class="contact_info-title">Call at</h4>
					<a class="contact_info-contact">
						+ (1) 021 385 3--0
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="contacts-contact_form">
		<form class="contact_form" name="contact_form" (ngSubmit)="onSendMessage()" #contactForm="ngForm">
			<h3 class="contact_form-title">send message to us</h3>
			<input class="contact_form-input" type="text" placeholder="*name" autocomplete="off" required name="contact_form-name" [(ngModel)]="message.name">
			<input class="contact_form-input" type="email" placeholder="*mail" autocomplete="off" required name="contact_form-mail" [(ngModel)]="message.mail">
			<input class="contact_form-input" type="text" placeholder="*phone" autocomplete="off" required name="contact_form-phone" [(ngModel)]="message.phone">
			<textarea class="contact_form-input contact_form-input--message" autocomplete="off" placeholder="*message" required name="contact_form-message" [(ngModel)]="message.value"></textarea>
			<div class="contact_form-btn" type="submit">
				<button 
					class="btn btn--send_message"
					[disabled]="contactForm.form.invalid"
					[ngClass]="{'btn--disabled': contactForm.form.invalid}">send message</button>
			</div>
		</form>
	</div>
	<div class="contacts-contact_map">
		<div class="contact_map">
			<sebm-google-map class="contact_map-map" [latitude]="map.lat" [longitude]="map.lng" [zoom]="map.zoom" [styles]="map.styles" [disableDoubleClickZoom]="true" [scrollwheel]="false">
				<sebm-google-map-marker [latitude]="map.lat" [longitude]="map.lng" [iconUrl]="'assets/icon-location.svg'"></sebm-google-map-marker>
			</sebm-google-map>
		</div>
	</div>
</div>
<footer></footer>