.user_wishlist{
    position: relative;

    box-sizing: border-box;
    height: 100%;
    padding: 50px;
    background-color: #FFF;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    &-loading{
        position: relative;
        height: 100%;
        flex: 1;
    }


    &-filters{
        flex-shrink: 0;

        margin-bottom: 50px;
    }
    &-title{
        font-family: $font-stack--bold;
        font-size: 24px;
        font-weight: bold;
    }

    &-header{
        flex-shrink: 0;

        background-color: $color-light_grey;
        padding: 5px 25px;
        border-radius: 5px 5px 0 0;

        color: $color-dark_grey;
        font-family: $font-stack--bold;
        font-size: 12px;
        text-transform: uppercase;
    }
    &-item_info{
        display: inline-block;
        vertical-align: middle;
        width: 40%;
    }
    &-item_colors{
        display: inline-block;
        vertical-align: middle;
        width: 25%;
        
        text-align: center;

        .color{
            line-height: 24px;
        }
    }
    &-item_cost{
        display: inline-block;
        vertical-align: middle;
        width: 15%;

        text-align: center;
    }
    &-item_actions{
        display: inline-block;
        vertical-align: middle;
        width: 20%;

        text-align: right;
    }

    &-item_list{
        flex-grow: 1;

        position: relative;

        @include ps-const-width();
        .ps-scrollbar-y-rail{
            margin: 0px 0;
            right: 0px;
        }
    }
    &-item{
        padding: 10px 25px;
        &:not(:last-child){
            border-bottom: 1px solid $color-light_grey;
        }

        .user_wishlist-item_colors{
            height: 20px;
        }
        .user_wishlist-item_cost{
            font-family: $font-stack--bold;
            font-weight: bold;
        }
    }
    &-item_photos{
        display: inline-block;
        vertical-align: middle;

        width: 75px;
        height: 75px;
        position: relative;
    }
    &-item_photo{
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);

        max-width: 80%;
        max-height: 80%;
    }
    &-item_name{
        margin-left: 10px;

        display: inline-block;
        vertical-align: middle;

        font-size: 16px;
    }
    &-btn_remove{
        transition: 0.3s;
        cursor: pointer;
        &:hover{
            color: $color-dark_red;
        }
    }

    &-helper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        outline: none;

        text-align: center;

        cursor: pointer;
        transition: 0.3s;

        &:hover{
            color: $color-dark_green;
        }
    }
    &--empty{
        .user_wishlist-item_list{
            display: none;
        }
    }

    &--smart{
        position: relative;
        padding: 0;
        .user_wishlist-btn{
            display: block;
            
            width: 100%;
            background-color: inherit;
            outline: none;
        }
        .user_wishlist-item_list{
            z-index: 3;
            position: absolute;
            bottom: -20px;
            right: 0%;
            transform: translate(0%, 100%);

            max-height: 100px * 3; // item height = 100px
            min-width: 150%;
            background-color: #FFF;
            border-radius: 5px;

            overflow: hidden;
            box-shadow: 0 0 40px rgba($color-dark_blue, 0.4);

            display: none;
            opacity: 0;
            transition: opacity 0.3s;

            .ps-scrollbar-y-rail{
                margin: 10px 0;
                right: 10px;
            }
        }
        .user_wishlist-item{
            box-sizing: border-box;
            height: 100px;
            padding: 0;

            cursor: pointer;
            transition: 0.3s;

            &:hover{
                background-color: $color-light_grey;
            }
            &:not(:last-child){
                border-bottom: 1px solid $color-light_grey;
            }

            .item{
                box-sizing: border-box;
                padding: 0;
                margin: 0;
                background: none;
            }
        }
    }
    &--open{
        .user_wishlist-item_list{
            opacity: 1;
            display: block;
        }
        .user_wishlist-btn{
            .btn{
                background-color: $color-light_grey;
                color: $color-dark_green;
            }
        }
    }
}