<div class="user_wishlist" [ngClass]="{'user_wishlist--empty': itemList.length == 0}">
	<h4 routerLink="/products" class="user_wishlist-helper" *ngIf="itemList.length == 0">
		There is no products in your wishlist. Let's shopping now!
	</h4>
  	<div class="user_wishlist-item_list">
		<div class="user_wishlist-item" *ngFor="let item of itemList">
			<div class="item item--user_wishlist">
				<div class="item-photos">
					<img class="item-photo" src="{{item.photosUrl[0]}}" alt="">
				</div><!--
				--><div class="item-info">
					<h2 class="item-name" (click)="onItemClicked(item)">{{item.name}}</h2>
					<span class="item-btn item-btn--remove fa fa-close" title="remove"></span>
					<div class="item-color_list">
						<div class="color-list">
							<div class="color_list-color">
								<div class="color color--middle color--red"></div>
							</div>
							<div class="color_list-color">
								<div class="color color--middle color--white"></div>
							</div>
						</div>
					</div>
					<div class="item-size_list">
						<div class="item-size">
							<div class="size size--middle">xl</div>
						</div>
						<div class="item-size">
							<div class="size size--middle">l</div>
						</div>
					</div>
				</div>
				<div class="item-actions">
					<div class="item-cost">$34</div>
					<div class="item-available">
						6 available
					</div>
					<div class="item-btn">
						<button class="btn btn--add_to_card">Add to cart</button>
					</div>
				</div>
			</div>
		</div>
  	</div>
</div>
