<div class="category">
	<button class="category--btn" (click)="toggleRoot()" [ngClass]="{'selected': isCategorySelected(category)}">
		<span class="category--name">{{category.name}}</span>
		<span class="category--icon fa fa-chevron-down"></span>
	</button>
	<div class="category--values-container">
		<div class="category--parent-list" *ngIf="parentStack && parentStack.length > 0">
			<div class="category--value"
				*ngFor="let parent of parentStack"
				(click)="toggleParent(parent)"
				[hidden]="parent.equals(category)"
				[ngClass]="{'selected': isCategorySelected(parent)}">
				{{parent.name}}
				<span class="category--icon fa fa-chevron-down" *ngIf="parent.hasChildren"></span>
			</div>
		</div>
		<div class="category--children-list" *ngIf="childrenToShow && childrenToShow.length > 0">
			<div class="category--value"
				*ngFor="let child of childrenToShow"
				(click)="toggleChild(child)"
				[ngClass]="{'selected': isCategorySelected(child)}">
				{{child.name}}
				<span class="category--icon fa fa-chevron-down" *ngIf="child.hasChildren"></span>
			</div>
		</div>
	</div>
</div>