$font-stack--bold: ubuntu--b, Arial, Helvetica, sans-serif;
$font-stack--regular: ubuntu--r, Arial, Helvetica, sans-serif;
$font-stack--light: ubuntu--l, Arial, Helvetica, sans-serif;
$font-stack--thin: mont--t, Arial, Helvetica, sans-serif;
$font-stack--magic_number: magic-number, ubuntu--b, Arial, Helvetica, sans-serif;

$font-item_name: item_name, Arial, Helvetica, sans-serif;

$font-paginator-page: mont--r, Arial, Helvetica, sans-serif;
$font-navigation: $font-paginator-page;

$color-bg: #E4E7EF;
$color-black: #222328;
$color-dark_blue: #3A405B;
$color-blue: #334CD5;
$color-light_blue: #51DDE9;
$color-dark_red: #EB4E36;
$color-dark_yellow: #E8C63B;
$color-dark_green: #43D29E;
$color-dark_grey: #A1A6BB;
$color-light_grey: #F0F2F7;

@mixin ps-const-width{
    .ps-scrollbar-y-rail{
        width: 10px !important;

        .ps-scrollbar-y{
            width: 6px !important;
        }
    }
}
