@import "../../ui.src.scss";

.ui--hire-button {
    display: inline-block;
    box-sizing: border-box;
    width: 180px;
    padding: 5px 0;
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 20px;
    outline: none;

    line-height: 32px;
    color: #FFF;
    font-family: inherit;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;

    cursor: pointer;
    transition: 0.3s;

    &:hover{
        background-color: #FFF;
        box-shadow: 0 0 25px rgba(#FFF, 0.2);

        color: $color-black;
    }
}
