$font-stack--bold: ubuntu--b, Arial, Helvetica, sans-serif;
$font-stack--regular: ubuntu--r, Arial, Helvetica, sans-serif;
$font-stack--light: ubuntu--l, Arial, Helvetica, sans-serif;
$font-stack--thin: mont--t, Arial, Helvetica, sans-serif;
$font-stack--magic_number: magic-number, ubuntu--b, Arial, Helvetica, sans-serif;

$font-item_name: item_name, Arial, Helvetica, sans-serif;

$font-paginator-page: mont--r, Arial, Helvetica, sans-serif;
$font-navigation: $font-paginator-page;

$color-bg: #E4E7EF;
$color-black: #222328;
$color-dark_blue: #3A405B;
$color-blue: #334CD5;
$color-light_blue: #51DDE9;
$color-dark_red: #EB4E36;
$color-dark_yellow: #E8C63B;
$color-dark_green: #43D29E;
$color-dark_grey: #A1A6BB;
$color-light_grey: #F0F2F7;

@mixin no-wrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin bg-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin ps-const-width {
    .ps-scrollbar-y-rail{
        width: 10px !important;
        background: none !important;
        .ps-scrollbar-y{
            width: 6px !important;
        }
    }
    .ps-scrollbar-x-rail{
        height: 10px !important;
        background: none !important;
        .ps-scrollbar-x{
            height: 6px !important;
        }
    }
}

@mixin placeholder-color($color) {
    &::-webkit-input-placeholder { /* Chrome */ 
        color: $color; 
    } 
    &:-ms-input-placeholder { /* IE 10+ */ 
        color: $color; 
    } 
    &::-moz-placeholder { /* Firefox 19+ */ 
        color: $color; 
        opacity: 1; 
    } 
    &:-moz-placeholder { /* Firefox 4 - 18 */ 
        color: $color; 
        opacity: 1; 
    }
}

@mixin user-dashboard-light-theme() {

}
@mixin user-dashboard-dark-theme() {
    background-color: $color-dark_blue;

    color: #FFF;

    .user_dashboard_navigation{
        background-color: $color-dark_blue;
        border-color: $color-dark_yellow;
        border-width: 2px;

        &-list{
            background-color: $color-dark_blue;
            border-color: $color-dark_yellow;
            border-width: 2px;

            color: #FFF;

            &:focus, &:hover{
                background-color: rgba($color-dark_yellow, 0.6);
            }
            &.active{
                background-color: $color-dark_yellow;
                color: $color-dark_blue;
            }
        }
    }
    .user_wishlist{
        background-color: $color-dark_blue;
    }
    .item{
        background-color: $color-dark_blue;
    }
}
