@import '../src.scss';
.user_dashboard{
    min-height: 100vh;
    padding: 100px 50px;
    background-color: rgba($color-light_grey, 0.4);


    color: $color-dark_blue;
    &-title{
        margin: 0 auto;
        margin-bottom: 40px;
        
        max-width: 500px;

        font-size: 32px;
        text-align: center;
    }
    &-description{
        margin: 0 auto;
        margin-bottom: 80px;

        max-width: 500px;

        font-size: 16px;
        text-align: center;
    }
    &-btn{
        display: inline-block;
        vertical-align: top;

        box-sizing: border-box;
        width: 50%;

        &:not(:last-child){
            border-right: 1px solid $color-light_grey;
        }

        .btn{
            background-color: $color-light_grey;
            color: $color-dark_green;

            &:hover{
                background-color: #FFF;
                color: $color-dark_blue;
            }
        }
        &--active{
            .btn{
                background-color: #FFF;
                color: $color-dark_blue;
            }
        }
    }

    &-tabs{
        background-color: #FFF;
        
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        overflow: hidden;
    }
    &-user_wishlist, &-user_cart{
        background-color: #FFF;

        border-top: 1px solid $color-light_grey;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &-loading{
        position: relative;
        display: block;
        min-height: 100vh;
    }
}