@import '../src.scss';
.user_dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    height: 100%;
    height: 100vh;

    background-color: rgba($color-light_grey, 0.4);

    color: $color-dark_blue;

    &-user_dashboard_navigation{
        
    }
    &-router_outlet{
        position: relative;
        flex: 1;
        
        @include ps-const-width();
    }

    &-title{
        margin: 0 auto;
        margin-bottom: 40px;
        
        max-width: 500px;

        font-size: 32px;
        text-align: center;
    }
    &-description{
        margin: 0 auto;
        margin-bottom: 80px;

        max-width: 500px;

        font-size: 16px;
        text-align: center;
    }
    &-btn{
        display: inline-block;
        vertical-align: top;

        box-sizing: border-box;
        width: 50%;
        outline: none;

        &:not(:last-child){
            border-right: 1px solid $color-light_grey;
        }

        .btn{
            background-color: $color-light_grey;
            color: $color-dark_green;

            &:hover{
                background-color: #FFF;
                color: $color-dark_blue;
            }
        }
        &.active{
            .btn{
                background-color: #FFF;
                color: $color-dark_blue;
            }
        }
    }

    &-tabs{
        background-color: #FFF;
        
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        overflow: hidden;
    }

    &-loading{
        position: relative;
        display: block;
        min-height: 100vh;
    }
}