@import '../../src.scss';
.btn{
    position: relative;
    display: inline-block;

    box-sizing: border-box;
    width: 120px;
    background-color: inherit;
    border: 2px solid $color-light_grey;
    border-radius: 20px;
    outline: none;

    line-height: 32px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    color: rgba(#333, 0.8);
    text-align: center;

    cursor: pointer;

    transition: 0.3s;

    &-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover{
    }

    &--white{
        width: 180px;
        padding: 5px 0;
        border-color: #FFF;

        color: #FFF;
        font-size: 14px;
        text-transform: uppercase;

        &:hover{
            background-color: #FFF;
            box-shadow: 0 0 25px rgba(#FFF, 0.2);

            color: $color-black;
        }
    }
    &--dark_blue{
        width: 180px;
        padding: 5px 0;
        background-color: $color-dark_blue;
        border-color: $color-dark_blue;

        color: #FFF;
        font-size: 14px;
        text-transform: uppercase;

        &:hover{
            background-color: $color-dark_blue;;
            box-shadow: 0 0 40px rgba($color-dark_blue, 0.4);

            color: #FFF;
        }
    }

    &--no_bordered{
        border: none;
        border-radius: 0px;
        &:hover{
            color: #00e4a8;
        }
    }
    &--circle{
        width: 40px;
        height: 40px;
        border-radius: 50%;

        font-size: 12px;
        color: #FFF;

        &:hover{
            border-color: #e6e7ec;
            color: #FFF;

            box-shadow: 0 0 25px rgba(#FFF, 0.3);
        }
    }

    &--category{
        width: 170px;
        padding: 0px;

        line-height: 40px;

        color: #FFF;
        font-size: 12px;
        font-family: $font-stack--bold;
        text-transform: uppercase;

        &:hover{
            border-color: #EB4E36;
            color: #EB4E36;
        }
    }
    &--add_to_card{
        width: auto;
        padding: 0px 20px;
        background-color: $color-dark_blue;
        border: none;

        color: #FFF;
        font-size: 12px;
        text-transform: uppercase;

        &:hover{
            color: #FFF;

            box-shadow: 0 0 40px rgba($color-dark_blue, 0.4);
        }

        .btn-icon{
            margin-right: 10px;
            
            position: static;
            transform: translate(0);

            line-height: 32px;
            font-size: 16px;
        }
    }
    &--add_to_wishlist{
        width: auto;
        padding: 0px 20px;
        background-color: inherit;
        border: none;

        color: $color-dark_blue;
        font-size: 12px;
        text-transform: uppercase;

        &:hover{
            color: $color-dark_red;
            background-color: inherit;
        }

        .btn-icon{
            margin-right: 5px;
            
            position: static;
            transform: translate(0);

            line-height: 32px;
            font-size: 16px;
        }
    }
    &--buy_now{
        width: 180px;
        padding: 5px 0;
        background-color: $color-blue;
        border: none;

        color: #FFF;
        text-transform: uppercase;

        &:hover{
            color: #FFF;

            box-shadow: 0 0 40px rgba($color-blue, 0.4);
        }
    }

    &--social{
        width: auto;
        height: auto;
        border: none;
        background-color: none;

        color: inherit;
        font-size: 20px;

        .btn-icon{
            position: static;
            transform: translate(0);
        }
    }


    &--hamburger{
        width: 100%;
        height: 100%;
        background: none;
        border: 0;

        font-size: 24px;
        text-align: left;

        .btn-icon{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
        }
    }
    &--search{
        width: 100%;
        height: 100%;
        border: 0;
        background-color: inherit;
    }
    &--user_cart, &--user_wishlist{
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 0;
        background-color: inherit;

        line-height: 60px;
        font-size: 16px;
        font-family: $font-stack--bold;
        text-align: center;

        &:hover{
            background-color: $color-light_grey;
        }
        .btn-icon{
            margin-right: 10px;
            position: static;
            transform: translate(0);

            font-size: 18px;
        }
    }

    &--sign_in{
        width: 80px;
        
        font-family: $font-stack--bold;
        font-size: 12px;
        text-transform: uppercase;
        &:hover{
            background-color: $color-light_grey;
            box-shadow: 0 0 40px rgba($color-light_grey, 0.4);
        }
    }
    &--send_message{
        width: auto;
        padding: 0 20px;
        background-color: $color-dark_blue;
        border: 0;

        line-height: 40px;
        color: #FFF;
        font-size: 14px;
        text-transform: uppercase;

        &:hover{
            color: #FFF;
            box-shadow: 0 0 40px rgba($color-dark_blue, 0.4);
        }
    }

    &--order_road{
        width: 120px;
        padding: 0px 20px;
        border: 2px solid $color-light_grey;

        color: rgba($color-dark_blue, 0.8);
        font-family: $font-stack--bold;
        font-size: 14px;
        text-transform: uppercase;

        &:hover{
            background: none;
            border-color: $color-light_grey;

            color: rgba($color-dark_blue, 0.8);
        }
    }
    &--proceed{
        width: 200px;
        background-color: $color-blue;
        border: 2px solid $color-blue;

        color: #FFF;
        font-size: 12px;
        text-transform: uppercase;

        &:hover{
            background-color: $color-blue;
            border-color: $color-blue;

            color: #FFF;

            box-shadow: 0 0 40px rgba($color-blue, 0.4);
        }
    }
    &--continue_shopping{
        width: 200px;

        font-family: $font-stack--bold;
        font-size: 12px;
        text-transform: uppercase;
        &:hover{
            background-color: $color-light_grey;
            border-color: $color-light_grey;

            color: $color-dark_blue;

            box-shadow: 0 0 40px rgba($color-light_grey, 0.4);
        }
    }
    &--remove{
        border: none;

        line-height: 16px;
        font-size: 16px;
        &:hover{
            color: $color-dark_red;
        }
    }


    &--disabled{
        background-color: #EC4E35;
        border-color: #EC4E35;
        color: #FFF;

        opacity: 0.7;

        &:hover{
            border-color: #EC4E35;
            color: #FFF;

            box-shadow: none;
        }
    }
}