<div class="shopping_road">
	<h4 class="shopping_road-description">process</h4>
	<h3 class="shopping_road-title">How it works</h3>
	<div class="shopping_road-road">
		<div class="shopping_road-step">
			<div class="shopping_road-step_number">01</div>
			<h4 class="shopping_road-step_name">Search products</h4>
			<p class="shopping_road-step_description">
				There are over 666 items
			</p>
		</div><!--
		--><div class="shopping_road-step">
			<div class="shopping_road-step_number">02</div>
			<h4 class="shopping_road-step_name">Add them to cart</h4>
			<p class="shopping_road-step_description">
				Or to your wishlist 
			</p>
		</div><!--
		--><div class="shopping_road-step">
			<div class="shopping_road-step_number">03</div>
			<h4 class="shopping_road-step_name">Edit and confirm</h4>
			<p class="shopping_road-step_description">
				You get the personal dashboard
			</p>
		</div><!--
		--><div class="shopping_road-step">
			<div class="shopping_road-step_number">04</div>
			<h4 class="shopping_road-step_name">Order</h4>
			<p class="shopping_road-step_description">
				Pay for it's and get pleasure!
			</p>
		</div>
	</div>
</div>