@import '../src.scss';
.user_cart_order_header{
    background-color: $color-light_grey;
    padding: 5px 25px;
    border-radius: 5px 5px 0 0;

    color: $color-dark_grey;
    font-family: $font-stack--bold;
    font-size: 12px;
    text-transform: uppercase;

    &-item, &-cost, 
    &-quantity, &-total_cost{
        display: inline-block;
        vertical-align: middle;
    }
    &-item{
        width: 50%;
    }
    &-cost{
        width: 10%;
        text-align: center;
    }
    &-quantity{
        width: 20%;
        text-align: center;
    }
    &-total_cost{
        width: 10%;
        text-align: center;
    }
}