:host{
    display: block;
    height: 100%;
}
.user_login{

    // min-height: 300px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $color-dark_blue;
    text-align: center;
    
    &-title{
        margin-bottom: 40px;

        font-size: 32px;
    }

    &-container{
        perspective: 1000px;
        position: relative;

        box-sizing: border-box;
        width: 100%;
    }
    &-user_sign_in, &-user_sign_up {
        z-index: 1;
        position: relative;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;

        transition: 0.3s ease-in-out;

        // opacity: 0.5;
        opacity: 1;
    }

}