@import '../src.scss';
.item{
    margin: 50px;
    padding: 50px;
    background-color: #FFF;

    &-photos{
        display: inline-block;
        vertical-align: top;

        box-sizing: border-box;
        width: 50%;
        padding-right: 50px;

        text-align: center;
    }
    &-info{
        display: inline-block;
        vertical-align: top;

        width: 50%;
    }


    &-photo{
        display: inline-block;
        max-width: 10%;
        max-height: 10%;
    }
    &-name{
        margin-bottom: 20px;

        font-family: $font-item_name;
        font-size: 34px;
    }
    &-cost{
        margin-bottom: 30px;

        display: inline-block;
        vertical-align: middle;

        font-size: 20px;
        font-family: $font-stack--bold;
    }
    &-size_guide{
        margin-bottom: 30px;
        margin-left: 20px;

        display: inline-block;
        vertical-align: middle;
    }
    &-description{
        margin-bottom: 30px;

        line-height: 1.5em;
        font-family: $font-stack--light;
        text-align: justify;
    }
    &-item_feature_list{
        margin-bottom: 30px;
    }


    &-controls{
        margin-bottom: 40px;
    }
    &-select{
        margin-bottom: 20px;

        display: inline-block;
        vertical-align: middle;

        &:not(:last-child){
            margin-right: 20px;
        }
    }
    &-available{
        margin-bottom: 20px;

        display: inline-block;
        vertical-align: middle;

        color: #A1A6BB;
    }

    &-delivery{
        margin-bottom: 20px;

        color: #A1A6BB;
        font-size: 14px;
    }


    &-actions{

    }
    &-btn{
        display: inline-block;

        &:not(:last-child){
            margin-right: 20px;
        }
    }
    

    

    &-loading{
        height: 100vh;

        loading{
            position: relative;
            display: block;
            height: 100vh;
        }
    }

    &--inherit{
        background-color: inherit;
        color: inherit;
    }

    &--small{
        height: 100%;
        .item-photos{
            position: relative;

            display: inline-block;
            vertical-align: middle;

            width: 40%;
            height: 100%;
            padding: 0;

            //overflow: hidden;
        }
        .item-photo{
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            width: auto;
            height: auto;
            max-width: 80%;
            max-height: 80%;
        }
        .item-info{
            margin: 0;
            display: inline-block;
            vertical-align: middle;
            
            box-sizing: border-box;
            width: 60%;
            padding-right: 20px;
        }
        .item-name{
            margin: 0;

            line-height: 24px;
            font-size: 16px;
            text-align: left;

            max-height: 24px * 3;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .item-cost{
            display: block;
            margin: 5px 0 10px 0px;

            line-height: 18px;
            color: $color-dark_grey;
            font-size: 16px;
            text-align: left;
        }
        .item-count{
            line-height: 18px;
            font-size: 16px;
            text-align: left;
        }
    }
}