@import '../src.scss';
.items_search{
    border-radius: 5px;

    text-align: left;

    &-search{
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
    &-btn{
        .btn{
            width: 280px;
        }
    }
}