<div class="items_search">
	<div class="items_search-search">
		<category-list [categories]="availableCategories"></category-list>
	</div>
	<div class="items_search-search">
		<colorpicker [colors]="availableColors" (selectedColors)="onColorsSelected($event)"></colorpicker>
	</div>
	<div class="items_search-search">
		<sizepicker [sizes]="availableSizes" (selectedSizes)="onSizesSelected($event)"></sizepicker>
	</div>
	<div class="items_search-search">
		<costpicker [min]="availableCost.min" [max]="availableCost.max" (selectedCost)="onCostSelected($event)"></costpicker>
	</div>
	<div class="items_search-btn" (click)="onSearchClick()">
		<button class="btn btn--search_items">Search</button>
	</div>
</div>