<div class="footer">
	<div class="footer-header">
		<div class="header">
			<div class="header-logo">
				<div class="logo">
					<h2 class="logo-name">
						Portland
					</h2>
				</div>
			</div>
			<div class="header-navigation">
				<div class="navigation">
					<a class="navigation-list">home</a>
					<a class="navigation-list">shop</a>
					<a class="navigation-list">team</a>
					<a class="navigation-list">about us</a>
					<a class="navigation-list">contacts</a>
				</div>
			</div>
			<div class="header-btn_list">
				<div class="header-btn">
					<button class="btn btn--social">
						<span class="btn-icon fa fa-twitter"></span>
					</button>
				</div>
				<div class="header-btn">
					<button class="btn btn--social">
						<span class="btn-icon fa fa-facebook"></span>
					</button>
				</div>
				<div class="header-btn">
					<button class="btn btn--social">
						<span class="btn-icon fa fa-google-plus"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-info">
		<div class="info">
			<div class="info-title">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ipsum ut quibusdam natus labore nihil, est similique inventore.
			</div>
			<div class="info-navigation">
				<div class="navigation">
					<a class="navigation-list">privacy policy</a>
					<a class="navigation-list">tearms and conditions</a>
				</div>
			</div>
		</div>
	</div>
</div>