@import '../src.scss';
.size_guide{
    position: relative;

    &-btn{

        background: none;
        outline: none; 

        color: $color-dark_green;
        font-size: 16px;
        font-weight: normal;
        text-decoration: underline;
        text-transform: uppercase;

        cursor: pointer;
        transition: 0.3s;

        &:hover{
            color: $color-dark_red;
        }
    }

    &-sizes{
        z-index: 5;

        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%, 100%);

        width: auto;
        box-sizing: border-box;
        padding: 20px;
        background-color: $color-dark_blue;
        border-radius: 5px;
        box-shadow: 0px 0 60px rgba($color-dark_blue, 0.4);

        color: #FFF;


        display: none;
    }

    &-title{
        font-family: $font-stack--bold;
        font-size: 14px;
        text-transform: uppercase;
    }

    &-size_list{
       white-space: nowrap; 
    }
    &-size_name{
        display: inline-block;
        vertical-align: middle;
    }
    &-size{
        display: inline-block;
        vertical-align: middle;

        .size{
            border: 0;
        }
    }

    &--open{
        .size_guide{
            &-sizes{
                display: inline-block;
            }
        }
    }
}