@import './app/src.scss';

@import './app/page-not-found/page-not-found.scss';

@import './app/ui/btn/btn.scss';
@import './app/ui/select-number/select-number.scss';
@import './app/ui/search/search.scss';
@import './app/ui/dropdown/dropdown.scss';
@import './app/ui/select/select.scss';
@import './app/ui/range/range.scss';
@import './app/ui/datapicker/datapicker.scss';
@import './app/ui/switch/switch.scss';

@import './app/home/home.scss';
@import './app/home-intro/home-intro.scss';
@import './app/shop-history/shop-history.scss';
@import './app/shopping-road/shopping-road.scss';
@import './app/shop-features/shop-features.scss';
@import './app/shop-feature/shop-feature.scss';
@import './app/shop-partners/shop-partners.scss';
@import './app/shop-product-features/shop-product-features.scss';

@import './app/header/header.scss';
@import './app/navigation/navigation.scss';
@import './app/logo/logo.scss';

@import './app/items-sort/items-sort.scss';
@import './app/items-search/items-search.scss';
@import './app/item-list/item-list.scss';
@import './app/item-card/item-card.scss';
@import './app/item/item.scss';
@import './app/item-photos/item-photos.scss';
@import './app/item-feature-list/item-feature-list.scss';

@import './app/color-list/color-list.scss';
@import './app/color/color.scss';

@import './app/size/size.scss';
@import './app/size-guide/size-guide.scss';

@import './app/category-list/category-list.scss';
@import './app/category/category.scss';

@import './app/paginator/paginator.scss';

@import './app/slider/slider.scss';
@import './app/footer/footer.scss';
@import './app/info/info.scss';


@import './app/user/user.scss';
@import './app/user-dashboard/user-dashboard.scss';
@import './app/user-dashboard-navigation/user-dashboard-navigation.scss';

@import './app/user-login/user-login.scss';
@import './app/user-sign-in/user-sign-in.scss';
@import './app/user-sign-up/user-sign-up.scss';

@import './app/user-info/user-info.scss';

@import './app/user-wishlist/user-wishlist.scss';

@import './app/user-cart/user-cart.scss';
@import './app/user-cart-road/user-cart-road.scss';
@import './app/user-cart-order-header/user-cart-order-header.scss';
@import './app/user-cart-order/user-cart-order.scss';

@import './app/user-statistic/user-statistic.scss';

@import './app/user-settings/user-settings.scss';


@import './app/item-liker/item-liker.scss';

@import './app/contacts/contacts.scss';
@import './app/contact-info/contact-info.scss';
@import './app/contact-form/contact-form.scss';
@import './app/contact-map/contact-map.scss';

@import './app/about/about.scss';
@import './app/about-intro/about-intro.scss';
@import './app/about-history/about-history.scss';
@import './app/about-team/about-team.scss';
@import './app/about-skills/about-skills.scss';


@font-face{
    font-family: logo;
    src: url('assets/fonts/Mahmur.otf');
}

@font-face{
    font-family: mont--b;
    src: url('assets/fonts/Montserrat-Bold.otf');
}
@font-face{
    font-family: mont--r;
    src: url('assets/fonts/Montserrat-Regular.otf');
}
@font-face{
    font-family: mont--l;
    src: url('assets/fonts/Montserrat-Light.otf');
}
@font-face{
    font-family: mont--t;
    src: url('assets/fonts/Montserrat-Thin.otf');
}

@font-face{
    font-family: ubuntu--l;
    src: url('assets/fonts/Ubuntu-L.ttf');
}
@font-face{
    font-family: ubuntu--b;
    src: url('assets/fonts/Ubuntu-Bold.ttf');
}
@font-face{
    font-family: ubuntu--r;
    src: url('assets/fonts/Ubuntu-R.ttf');
}

@font-face{
    font-family: item_name;
    src: url('assets/fonts/item-name.otf');
}

@font-face{
    font-family: magic-number;
    src: url('assets/fonts/Exo2Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: ubuntu--r, Arial, Helvetica, sans-serif;
}