<div class="home">
	<div class="home--parallax"></div>
	<div class="home--header">
		<header></header>
	</div>
	<div class="home--home-intro">
		<div class="home-intro">
			<h3 class="home-intro--welcome">welcome to portland</h3>
			<h3 class="home-intro--title">
				Shopping with pleasure
			</h3>
			<p class="home-intro--description">
				Lorem amet, consectetur adipisicing elit. Sed repellendus, provident. Hic dolor et inventore doloribus blanditiis quaerat eos dolore?
			</p>
			<div class="home-intro--button">
				<button routerLink="/products" class="btn btn--white">Let's shopping</button>
			</div>
			<div class="home-intro--button">
				<button routerLink="/about" class="btn btn--white">learn more</button>
			</div>
		</div>
	</div>
	<div class="home--shop-history">
		<shop-history class="shop_history"></shop-history>
	</div>
	<div class="home--shopping-road">
		<shopping-road></shopping-road>
		<div class="home--hire-button">
			<button class="ui--hire-button">Hire us</button>
		</div>
	</div>
	<div class="home--shop-product-features">
		<shop-product-features class="shop_product_features"></shop-product-features>
	</div>
	<div class="home--shop-features">
		<shop-features class="shop_features"></shop-features>
	</div>
	<div class="home--shop-partners">
		<shop-partners class="shop_partners"></shop-partners>
	</div>
	<div class="home--footer">
		<footer></footer>
	</div>
</div>