@import "../src.scss";
.about-intro{
    padding: 100px 0;

    color: $color-dark_blue;

    // block
    &--info, &--img{
        display: inline-block;
        vertical-align: middle;

        box-sizing: border-box;
        width: 50%;
        padding: 0 2.5% 0 5%; //grid

        text-align: right;
    }
    // block
    &--img{
        padding: 0 5% 0 2.5%; //grid

        text-align: left;
        .img{
            max-width: 100%;
            max-height: 100%;
        }
    }

    &--title{
        margin-bottom: 100px;

        font-family: $font-stack--bold;
        font-size: 32px;
        text-transform: uppercase;
        text-align: center;
    }
    &--name{
        margin-bottom: 20px;

        color: $color-dark_green;
        font-family: $font-stack--bold;
        font-size: 20px;
        text-transform: uppercase;
    }
    &--description{
        margin-bottom: 50px;

        display: inline-block;
        max-width: 500px;
    }

}