<div class="about_intro">
	<h2 class="about_intro-title">
		Welcome to Portland
	</h2>
	<div class="about_intro-info">
		<h3 class="about_intro-name">
			about shop
		</h3>
		<p class="about_intro-description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias magnam sequi, error repellendus facere dolor maiores,
			dignissimos minima, omnis ex, illo at doloremque libero ipsam. Lorem adipisicing elit. Ea ratione, explicabo incidunt
			voluptates error, unde atque! At aspernatur incidunt laudantium aliquam ad vitae cupiditate soluta maxime, quam, porro
			a quis?
		</p>
		<div class="about_intro-btn">
			<button class="btn btn--dark_green">subscribe</button>
		</div>
	</div><!--
	--><div class="about_intro-img">
		<img src="assets/img/about-intro-1.png" alt="" class="img">
	</div>
</div>